fa.orange {
  color: orange;
}

.rating_avg {
  font-size: 2rem;

}

fa.purple {
  color: purple;
}

#rate-container {
  border-top: 2px solid orange;
  padding-top: 5px;
}

#rate-container fa {
  cursor: pointer;
  font-size: 1.5em;
}

#rate-container h2 {
  font-size: 1rem;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 5px 5px;
}
