@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', serif;
  padding: 0;
  margin: 0;
}

button:disabled {
  cursor: not-allowed;
}
